body {
    background-image: #F8F9FA;
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
    background-position: top;
    background-attachment: fixed;
}

p,
h1,
h2,
a,
input {
    font-family: 'Ubuntu', sans-serif;
}
.bemvindo{
    text-align: center;
    margin-top: 2%;
}

.central{
    display: flex;
}
.esquerda, .direita{
    width: 50%;
    margin-top: 5vw;
    display: flex;
    justify-content:space-around;
    align-items: center;
    flex-direction: column;
}
.botao{
    
    margin-top: 3vw;
    display: flex;
    align-items: center;
    padding: 0.5vw 3vw;
    border: 2px solid #1484FC;
    border-radius: 8px;
    color: #1484FC;
    width: 15vw;
}
.botao img {
    height: 2vw;
}
.botoes img{
    height: 1.5vw;
}
.sair{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}
.botoes  {
    margin-top: 5vw;
    width: 15vw;
    display: flex;
    align-items: center;
    background-color: #1484FC;
    padding: 15px 0;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    
}