body {
    background-color: #F8F9FA;
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
    background-position: top;
    background-attachment: fixed;
}

p,
h1,
h2,
a,
input,
label,
button {
    font-family: 'Ubuntu', sans-serif !important;
}

.form {
    color: white;
}

label {
    color: black;
}

.form-control {
    display: block;
    width: 600px;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #1a8dff;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #006ddb;
    margin-bottom: -2rem;
}

.form-select2 {
    display: block;
    width: 600px;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #1a8dff;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #006ddb;
    border-radius: 4px;
    margin-bottom: -2rem;
}

.btn-enviar{
    background-color: #007bff;
    border-color: #007bff    ;
    color: #fff;
    width: 138px;
    height: 38px;
    border-radius: 4px;
    margin-bottom: 1rem!important;
    margin-left: 2rem;
}

.btn-enviar:hover {
    color: #fff;
    background-color: #3521ec;
    border-color: #3521ec
}


.btn-cancel {
    background-color: #d400ff;
    border-color: #d400ff;
    color: #fff;
    width: 138px;
    height: 38px;
    border-radius: 4px;
    margin-bottom: 3rem!important;
}

.btn-cancel:hover {
    color: #fff;
    background-color: #d429be;
    border-color: #d429be
}

hr{
    color:transparent;
}
.botoesVaga{
    margin-top: 3rem;
    display: flex;
    justify-content: center;
}
