p, h1,h2, a, input, li{
    font-family: 'Ubuntu', sans-serif !important;
}
body{
    background-color: #F8F9FA;
}

.disposicaoDate h1{
    text-shadow: 0.1em 0.1em rgb(2, 2, 2)

}
.disposicaoDate{
    color: white;

    margin: 0 auto;
    margin-bottom: 2rem;
    text-align: center;
}
#calendario{
    width: 20rem;
}
#quadro{
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
}
#state{
    margin-top: 3vw;
    text-align: center ;
}
a{
    text-decoration:white;
}