   tbody{
      background-color: #d1e892;
   }
   *{
        margin:0;
        padding:0;
    }
    .conteudo h2{
      margin-top: 5px;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 15px;
      width: 400px;
      background-image: linear-gradient(#b571ff,#3471e4);
      background-repeat: no-repeat;
       background-size: 0% 3px;
       transition: background-size 500ms ease;
       background-position: center bottom;
       text-align: center;
   }
   .conteudo h2:hover{
   background-size: 400px 3px;
   }
 .slide img{
    height: 30rem;
    margin-left:auto;
    margin-right:auto;
    max-width:100%;
 }
 .slide{
    margin-top:2.5rem;
    max-width: 80%;
 }
 .barraSuperior{
    background: #b571ff;
    height: 7rem;
    width: 100%;
    margin-top:0;
    text-align: center;
 }
 .titulo{
   color:#d1e892;
   text-align: center;
   font-weight: bold;
   font-size: 22pt;
 }
 h2{margin:0;}
 .texto{
   width: 75%;
   padding: 35px 0 35px 0;
   line-height: 2rem;
 }
 .video{
   margin-top: 25px;
 }