*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
    
}

.conteudo h2{
  
    margin-left: auto;
    margin-right: auto;
    width: 350px;
    background-image: linear-gradient(#b571ff,#b571ff);
    background-repeat: no-repeat;
     background-size: 0% 3px;
     transition: background-size 500ms ease;
     background-position: center bottom;
     text-align: center;
     margin-top: 15px;
     margin-bottom: 20px;
   
 }
 .conteudo h2:hover{
 background-size: 400px 3px;
 }

body{
    display: flex;
    flex-direction: column;
    background-color: #F5F9FF;
}

.conteudo p{
    font-family: "Segoe UI",Arial,sans-serif;
    text-align: justify;
    margin: 0 250px;
    font-size: 20px;
}

.conteudo{
    flex: 1 0 auto;
    font-size: 30px;
    text-align: justify;
  }


#imagem_Principal{
    display: flex;
   margin-left: auto;
   margin-right: auto;
    height:450px;
    width: 1000px;
 
}
.inicio{
    background-color: #b571ff;
    display: flex;
    justify-content: center;
    align-items: center;
}
#Logo{
    height: 100px;
    width: 100px;
}
