*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
    
}

h2{
    margin-left: auto;
    margin-right: auto;
    width: 350px;
    background-image: linear-gradient(#2F3548,#3471e4);
    background-repeat: no-repeat;
     background-size: 0% 3px;
     transition: background-size 500ms ease;
     background-position: center bottom;
     text-align: center;
 }
 h2:hover{
 background-size: 400px 3px;
 }

body{
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    background-color: #F5F9FF;
}

p{
    
    text-align: justify;
    margin: 0 250px;
}

header{
    background-color: #2F3548;
    text-align: center;
    padding: 30px;
    height: 150px;
}
.conteudo{
    flex: 1 0 auto;
    font-size: 30px;
    text-align: justify;
  }

footer{
    margin-top: 100px;
    background-color: #2F3548;
    text-align: center;
    padding: 10px;
}
#imagem_Principal{
    display: flex;
   margin-left: auto;
   margin-right: auto;
    height:450px;
    width: 1000px;
    border: #2F3548 solid 2px;
}
#Logo{
    float: left;
    display: flex;
    justify-items: left;
    height: 75px;
    width: 75px;
}

h1{
 display: flex;
 margin-left: 840px;
    
}