*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

.inicio{
    background-color: #b571ff;
}

.menu{
    width: 100%;
    height: 60px;
    background-color: aqua;
    text-align: center;
}

.logoQS{
    display: flex;
    margin: 10px 0px;
    height: 300px;
    background-color: #caa1ff;
}

.leadership{
    margin: 50px 0px 0px 250px;
    width: 350px;
    background-color: #b571ff;
    padding: 10px 30px;
    height: 200px;
    border: solid 3px #d1e892;
}

.sobre{
    margin: 0px 0px 0px 0px;
    width: 100%;
    padding: 100px 300px 100px 300px;
    text-align: center;
    border: solid 3px #b571ff;
}

.alisson{
    margin: 50px 200px 0px 200px;
    display: flex;
    height: 350px;
    background-color: #ebf2f2;
    border: solid 1px #b571ff;
}

.imgAlisson{
    width: 452px;
    display: flex;
    margin: 10px;
}

.nomeAlisson{
    margin: 5px 0px 0px 50px;
    height: 5px;
}

.cargoAlisson{
    margin-top: 20px;
    height: 50px;
}

.eric{
    margin: 50px 200px 0px 200px;
    display: flex;
    height: 350px;
    background-color: #ebf2f2;
    border: solid 1px #b571ff;
}

.imgEric{
    width: 452px;
    display: flex;
    margin: 10px;
}

.nomeEric{
    margin: 5px 0px 0px 50px;
    height: 5px;
}

.cargoEric{
    margin-top: 20px;
    height: 50px;
}

.gabriel{
    margin: 50px 200px 0px 200px;
    display: flex;
    height: 350px;
    background-color: #ebf2f2;
    border: solid 1px #b571ff;
}

.imgGabriel{
    width: 452px;
    display: flex;
    margin: 10px;
}

.nomeGabriel{
    margin: 5px 0px 0px 50px;
    height: 5px;
}

.cargoGabriel{
    margin-top: 20px;
    height: 50px;
}

.joao{
    margin: 50px 200px 0px 200px;
    display: flex;
    height: 350px;
    background-color: #ebf2f2;
    border: solid 1px #b571ff;
}

.imgJoao{
    width: 452px;
    display: flex;
    margin: 10px;
}

.nomeJoao{
    margin: 5px 0px 0px 50px;
    height: 5px;
}

.cargoJoao{
    margin-top: 20px;
    height: 50px;
}

.atualizacao{
    width: 100%;
    height: 60px;
    background-color: #b571ff;
    text-align: center;
    font-size: 50%;
}

.atualizacao h1{
    color: white;
}



